@import url('./Pages/Home/style.css');
@import url('./Components/Navbar/style.css');
@import url('./Components/ImageGallery/style.css');
@import url('./Components/Card/style.css');
@import url('./Components/Footer/style.css');

*{
    margin: 0;
    padding: 0;
}
i{
    cursor: pointer;
}
button{
    cursor: pointer;
}
.d-flex{
    display: flex;
}
.g-1x{
    gap: 1rem; 
}
.fn-1hx{
    font-size: 1.5rem;
}
.fn-2x{
    font-size: 2rem;
}
.p-1hx{
    padding: 0.5rem;
}
.cursor-pointer{
    cursor: pointer;
}